.c-MV-section {
    display: flex;
    flex-direction: column;
    gap: 6.4vw;
    margin: auto;


    &__intro {
        display: flex;
        flex-direction: column;
        gap: 4.2vw;
        max-width: 87.2vw;
        margin: auto;


        &-text {
            font-size: 4.26vw;
            font-feature-settings: 'palt' on;
            line-height: 180%;
        }
    }
}


@media screen and (min-width:501px) {
    .c-MV-section {
        gap: 32px;


        &__intro {
            gap: 21px;
            max-width: 436px;


            &-text {
                font-size: 21.3px;
            }
        }
    }
}


@media screen and (min-width:851px) {
    .c-MV-section {
        gap: 3.33vw;


        &__intro {
            gap: 1.33vw;
            max-width: 53.3vw;




            &-text {
                font-size: 1.33vw;
                max-width: 53.3vw;
            }
        }
    }
}


@media screen and (min-width:1201px) {
    .c-MV-section {
        display: flex;
        flex-direction: column;
        gap: 40px;


        &__intro {


            &-text {
                font-size: 16px;
                max-width: 640px;
            }
        }
    }
}