.c-anchor {
    max-width: 87.2vw;
    display: flex;
    flex-direction: column;
    gap: 4.2vw;
    margin: 0 auto;


    &__list-item {
        padding: 2.8vw 0;
        border-bottom: 0.26vw solid #007AFF;
        transition: 0.3s ease-in-out;


        &:first-child {
            border-top: 0.26vw solid #007AFF;
        }


        &:hover {
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
        }
    }


    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;


        img {
            width: 17vw;
        }


        &:hover {
            opacity: 0.7;
            transition: opacity 0.3s linear;


            .c-anchor__link-text {
                color: #007AFF;
            }
        }


        &-text {
            font-size: 4.26vw;
            font-feature-settings: 'palt' on;
            color: #000;
            line-height: 140%;
            padding: 0 4.36vw;
            transition: color 0.3s ease-in-out;
            position: relative;
            max-width: 60.5vw;
        }
    }


    &__link::after {
        content: '';
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        background-image: url('../img/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}


#recipe1,
#recipe2,
#recipe3 {
    scroll-margin-top: 209px;
}




@media screen and (min-width:501px) {
    .c-anchor {
        max-width: 436px;
        gap: 21px;

        &__list-item {
            padding: 14px 0;
            border-bottom: 1.3px solid #007AFF;


            &:first-child {
                border-top: 1.3px solid #007AFF;
            }
        }


        &__link {


            img {
                width: 85px;
            }


            &-text {
                font-size: 21.3px;
                padding: 0 21.7px;
                max-width: 302px;
            }
        }


        &__link::after {
            width: 5.3px;
            height: 9.8px;
        }
    }


    #recipe1,
    #recipe2,
    #recipe3 {
        scroll-margin-top: 230px;
    }
}


@media screen and (min-width:851px) {
    .c-anchor {
        max-width: 53.3vw;
        gap: 1.33vw;


        &__list-item {
            border-bottom: 0.08vw solid #007AFF;
            display: flex;
            width: 51.3vw;
            padding: 0.66vw 1.33vw 0.66vw 0.66vw;
            justify-content: center;
            align-items: center;


            &:first-child {
                border-top: 0.08vw solid #007AFF;
            }
        }


        &__link {
            gap: 0;


            img {
                width: 5.33vw;
            }


            &-text {
                font-size: 1.33vw;
                max-width: none;
                width: 45vw;
                padding-left: 1.33vw;
            }
        }


        &__link::after {
            width: 0.33vw;
            height: 0.58vw;
        }
    }


    #recipe1,
    #recipe2,
    #recipe3 {
        scroll-margin-top: 197px;
    }
}




@media screen and (min-width:1201px) {
    .c-anchor {
        max-width: 640px;
        gap: 16px;


        &__list-item {
            border-bottom: 1px solid #007AFF;
            width: 616px;
            padding: 8px 16px 8px 8px;


            &:first-child {
                border-top: 1px solid #007AFF;
            }


        }


        &__link {
            gap: 0px;


            img {
                width: 64px;
            }


            &-text {
                font-size: 16px;
                width: 540px;
                padding-left: 16px;
            }
        }


        &__link::after {
            width: 4px;
            height: 7px;
        }
    }
}