.c-author {
    display: flex;
    padding: 0px 6.4vw;
    justify-content: center;
    align-items: flex-start;
    gap: 4.26vw;


    &__image {
        width: 32vw;
    }


    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.06vw;
        flex: 1 0 0;
        width: 50.9vw;
    }


    &__title {
        font-weight: bold;
        font-size: 4.26vw;
    }


    &__name {
        font-weight: bold;
        font-size: 5.33vw;
    }


    &__text {
        font-size: 4.26vw;
        line-height: 160%;
        font-feature-settings: 'palt' on;
    }
}


@media screen and (min-width:501px) {
    .c-author {
        padding: 0px 32px;
        gap: 21.3px;


        &__image {
            width: 160px;
        }


        &__block {
            gap: 0.3px;
            width: 254.5px;
        }


        &__title {
            font-size: 21.3px;
        }


        &__name {
            font-size: 26.65px;
        }


        &__text {
            font-size: 21.3px;
        }
    }
}


@media screen and (min-width:851px) {
    .c-author {
        align-items: center;
        padding: 0;
        gap: 1.33vw;
        width: 53.3vw;
        margin: 0 auto;


        &__image {
            width: 13.3vw;
        }


        &__block {
            gap: 0.66vw;
            width: 33.5vw;
        }


        &__title {
            font-size: 1.33vw;
        }


        &__name {
            font-size: 2vw;
        }


        &__text {
            font-size: 1.33vw;
        }
    }
}


@media screen and (min-width:1201px) {
    .c-author {
        max-width: 640px;
        gap: 16px;


        &__image {
            width: 160px;
        }


        &__block {
            gap: 8px;
            width: 640px;
        }


        &__title {
            font-size: 16px;
        }


        &__name {
            font-size: 24px;
        }


        &__text {
            font-size: 16px;
        }
    }
}