.c-work {
  display: flex;
  flex-direction: column;
  gap: 8.53vw;

  &__asterisk {
    text-align: center;
    max-width: 87.2vw;
    margin: 0 auto;
  }


  &__list {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 87.2vw;
    margin: 0 auto;
    gap: 4.26vw;

    &-item {
      position: relative;
      box-sizing: border-box;
      display: flex;
      border-radius: 2.13vw;
      box-shadow: 0 0 2.13vw 0 rgba(0, 0, 0, 0.15);
      flex-direction: column;
      background-color: #fff;


      &-link {
        color: #303030;
        opacity: 1;
        transition: opacity 0.3s linear;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &:hover {
          opacity: 0.7;
          transition: opacity 0.3s linear;

          .c-work__list-item-thumbnail img {
            transform: scale(1.05);
          }
        }
      }

      &-content {
        width: 37.6vw;
        margin: 2.6vw auto 4.26vw;
        background-color: #fff;
        border-radius: 0 0 2.13vw 2.13vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 2.13vw;
      }

      &-thumbnail {
        width: 100%;
        overflow: hidden;
        border-radius: 2.13vw 2.13vw 0 0;

        img {
          transition: all 0.3s ease-out;
          max-width: 100%;
          border-radius: 2.13vw 2.13vw 0 0;
        }
      }

      &-title {
        font-size: 3.73vw;
        font-feature-settings: 'palt' on;
        font-weight: bold;
        margin-bottom: 0.55vw;
        line-height: 140%;
      }

      &-text {
        font-size: 3.2vw;
        font-feature-settings: 'palt' on;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 131%;
      }
    }
  }
}

@media screen and (min-width:501px) {
  .c-work {
    gap: 42.65px;

    &__asterisk {
      max-width: 436px;
    }

    &__list {
      max-width: 436px;
      gap: 21.3px;

      &-item {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 8px;

        &-content {
          width: 188px;
          margin: 13px auto 21.3px;
          border-radius: 0 0 8px 8px;
          gap: 10.65px;
        }

        &-thumbnail {
          width: 100%;
          border-radius: 8px 8px 0 0;

          img {
            border-radius: 8px 8px 0 0;
          }
        }

        &-title {
          font-size: 18.65px;
          margin-bottom: 2.75px;
        }

        &-text {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width:851px) {
  .c-work {
    display: flex;
    flex-direction: column;
    gap: 3.33vw;

    &__asterisk {
      max-width: 96.6vw;
    }

    &__list {
      display: flex;
      max-width: 96.6vw;
      gap: 1.58vw;


      &-item {
        max-width: 22.5vw;
        border-radius: 0.66vw;
        box-shadow: 0 0 0.83vw 0 rgba(0, 0, 0, 0.15);


        &-content {
          width: 19.3vw;
          margin: 1.3vw auto 2vw;
          border-radius: 0 0 0.66vw 0.66vw;
          gap: 0.66vw;
        }


        &-thumbnail {
          border-radius: 0.66vw 0.66vw 0 0;


          img {
            border-radius: 0.66vw 0.66vw 0 0;
          }
        }


        &-title {
          font-size: 1.66vw;
          margin-bottom: 0.55vw;
        }

        &-text {
          font-size: 1.25vw;
          line-height: 1.4;
          -webkit-line-clamp: 3;
        }
      }
    }
  }
}

@media screen and (min-width:1201px) {
  .c-work {
    gap: 40px;

    &__asterisk {
      max-width: 1160px;
    }

    &__list {
      max-width: 1160px;
      gap: 19px;


      &-item {
        max-width: 271px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);


        &-content {
          width: 231px;
          margin: 16px auto 24px;
          border-radius: 0 0 8px 8px;
          gap: 8px;
        }


        &-thumbnail {
          border-radius: 8px 8px 0 0;


          img {
            border-radius: 8px 8px 0 0;
          }
        }


        &-title {
          font-size: 20px;
          margin-bottom: 9px;
        }


        &-text {
          font-size: 15px;
        }
      }
    }
  }
}